@use "@/assets/scss/abstracts" as *;
.app-footer {
  width: 100%;
  min-height: 60px;

  z-index: 10;
  background-color: var(--bg-muted);
  backdrop-filter: blur(6px);
}

.app-footer_container {
  width: 100%;
  max-width: 100%;
  //   padding-inline: 0.8rem;
}
