.app-footer {

    width: 90%;
    margin-inline: auto;
    background-color: var(--bg-primary);

    border-radius: 16px;
    margin-bottom: 20px;

    @media (min-width: 768px) {
     width: 300px;
     margin-inline-end: inherit;
     height: auto;
  }
}