.app-header {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  min-height: 60px;
  background-color: var(--bg-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
