body {
  background-color: var(--bg-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-block-size: 100dvh;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

.app-wrapper,
.app-header,
.app-footer {
  position: relative;
  z-index: 10;
}

.video-wrapper {
  z-index: 0;
}
